<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>NoobJS Post Editor</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/offcanvas.css" rel="stylesheet">

    <!-- Custom styles for post_editor -->
    <link href="css/post_editor.css" rel="stylesheet">
  </head>

  <body>  
    <script type="text/x-handlebars" id="application">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NoobJS Post Editor</a>
        </div>
      </div>
    </div>

    {{outlet}}

    </script>

    <script type="text/x-handlebars" id="index">
      {{#link-to 'posts'}} Go to the posts page {{/link-to}}
    </script>

    <script type="text/x-handlebars" id="posts">
    <div class="container">

      <div class="row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          {{outlet}}

          <footer>
            <p>&copy; Matt Merkes 2013</p>
          </footer>
        </div>
      </div>

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="link_list">
          <ul class="nav nav-pills nav-stacked">
          {{#each post in controller}}
            {{#link-to 'post' post tagName="li"}}
              <a href="#">{{post.title}}</a>
            {{/link-to}}
          {{/each}}
          </ul>
        </div>
        {{#link-to "posts.create" class="btn btn-info create-post" tagName="button"}}Add post{{/link-to}}
        <div class="postsCount">Posts: {{postsCount}} </div>
      </div>
    </div>
    </script>

    <script type="text/x-handlebars" id="post">
      {{outlet}}
      <div class="post">
        <h2><span class="label label-default">{{title}}</span></h2>
        <div>{{formatMarkdown post_content}}</div>
        {{#each tag in tags}}
          <button class="btn btn-info">{{tag}}</button>
        {{/each}}
        <p> Created {{formatDate creationDate}}</p>
        <p> By {{author}} </p>
        {{#if complete}}
          <p> This post is marked complete </p>
        {{/if}}
        <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
        <button class="btn btn-primary" {{action "delete"}}>Delete</button>
      </div>
      {{#if deleteMode}}
      <div class="confirm-box">
        <h4>Really?</h4>
        <button {{action "confirmDelete"}}> yes </button>
        <button {{action "cancelDelete"}}> no </button>
      </div>
      {{/if}}
    </script>

    <script type="text/x-handlebars" id="post/edit">
      <div class="post-edit">
        <label>Title</label>
        {{input class="form-control" value=title}}
        <br>

        <label>Content</content>
        {{textarea class="form-control" value=post_content cols="120" rows="10"}}
        <br>

        <label>Tags</label>
        {{input class="form-control" value=tags}}
        <br>
        <label>Author</label>
        {{input class="form-control" value=author}}
        <br>
        <label>Complete</label>
        {{input type="checkbox" name="complete" checked=complete}}
        <br><br>

        <button class="btn btn-primary" {{action "save"}}> Save </button>
      </div>
    </script>

    <script id="link_template" type="text/template">
      <a href="#<%= id %>" class="list-group-item"><%= title %></a>
    </script>

    <script id="edit_view" type="text/template">
      <div class="row" id="edit-view">
        <div class="input-group">
          <span class="input-group-addon">Title</span>
          <input type="text" class="form-control" id="title_edit">
        </div>
        <br />
        <textarea class="form-control" rows="20" id="content_edit">
        </textarea>
        <br />
        <div class="input-group">
          <span class="input-group-addon">Tags</span>
          <input type="text" class="form-control" id="tag_edit">
        </div>
        <br />
        <button type="button" class="btn btn-primary btn-lg save">Submit</button>
        <button type="button" class="btn btn-danger btn-lg delete">Delete</button>
      </div>
    </script>

    <!-- dependencies --> 
    <script src="js/libs/jquery-1.9.1.js"></script>
    <script src="js/libs/handlebars-1.0.0.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/libs/moment.js"></script>
    <script src="js/libs/showdown.min.js"></script>

    <!-- App js files -->
    <script src="js/app.js"></script>
    <script src="js/store.js"></script>
    <script src="js/models/post.js"></script>
    <script src="js/router.js"></script>
    <script src="js/helpers/helpers.js"></script>

    <!-- Routes -->
    <script src="js/routes/postsRoute.js"></script>
    <script src="js/routes/indexRoute.js"></script>
    <script src="js/routes/postRoute.js"></script>
    <script src="js/routes/postEditRoute.js"></script>
    <script src="js/routes/postsCreateRoute.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/postsController.js"></script>
    <script src="js/controllers/postController.js"></script>  
    <script src="js/controllers/postEditController.js"></script>
    <script src="js/controllers/postsCreateController.js"></script> 
  </body>
</html>
